@import url("../common/common.css");

// Title block
.title-block {
    background-image: var(--title-background-gradient);

    .title-text {
        font-size: 4em;
        text-align: center;
        background: var(--title-font-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3.5px;
        -webkit-text-stroke-color: black;
        margin: 0;
    }

    .subtitle-text {
        font-size: 1.2em;
        color: var(--neutral-text-color);
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

// About me section
.section-header {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid var(--darker-background-color);
    background: var(--header-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// About body
.about-block {
    margin: 0 20% 0 20%;
    font-size: 1.2em;

    p {
        padding: 0;
        margin: 20px;
        text-indent: 25px;
    }
}

// Lectures section
.lectures-block {
    margin: 0 20% 0 20%;
    font-size: 1.2em;

    .lecture-table {
        width: 100%;

        background: white;
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;

        .lecture-colgroup { 
            .img-col {
                width: 30%;
            }
            .description-col {
                width: 70%;
            }
        }

        .image-row {
            .preview-cell {
                .preview {
                    display: block;
                    width: 95%;
                    height: 95%;
                }
            }

            .title {
                background: var(--table-color-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                font-size: 1.2em;
                margin: 0;
                vertical-align: bottom;
            }
        }

        .speaker-row {
            .speakers-cell {
                vertical-align: top;
            }
        }
        .description-row {
            .description-cell {
                vertical-align: bottom;
            }
        }
        .links-row {
            .links-cell {
                font-size: 1.2em;
                font-family: monospace;
                vertical-align: top;
            }
        }
    }
}