@import url("../common/common.css");

// Title block
.title-block {
    // Gradient background
    background-image: var(--title-background-gradient);

    // Title styled with another gradient
    .title-text {
        font-size: 4em;
        text-align: center;
        background: var(--title-font-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3.5px;
        -webkit-text-stroke-color: black;
        margin: 0;
    }
}

// Section headers
.section-header {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid var(--darker-background-color);
    background: var(--header-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// About body
.about-block {
    margin: 0 20% 0 20%;
    font-size: 1.2em;
    text-align: justify;

    p {
        padding: 0;
        margin: 20px;
        text-indent: 25px;
    }
}

// Lectures section
.lectures-block {
    margin: 0 20% 0 20%;
    font-size: 1.2em;

    .lecture-card {
        background: white;
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px;

        .lecture-card-head {
            display: grid;
            grid-template-columns: 1fr 2fr;

            .lecture-card-preview {
                // Here, we set the image in the middle of the div
                position: relative; 

                img {
                    position: absolute;
                    width: 90%;
                    left: 0; right: 0; top: 0; bottom: 0;
                    margin: auto;
                }
            }

            .lecture-card-content {
                text-align: justify;

                .lecture-card-header {
                    .lecture-card-title {
                        background: var(--table-color-gradient);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: bold;
                        font-size: 1.3em;
                        margin: 0;
                        vertical-align: bottom;
                    }
                }
            }
        }

        .lecture-links-section {
            .lecture-links-header {
                padding: 2px;
                margin: 0;
                font-size: 1.1em;
                text-align: left;
                background: var(--header-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .lecture-links-list {
                row-gap: 2px;
                column-gap: 2px;
        
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
                justify-self: left bottom;
        
                .lecture-link {
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                    padding: 5px;
                    border-radius: 1em;
        
                    max-width: 170px;
                    max-height: 30px;
                    
                    align-items: center;
                    justify-content: center;
                    
                    color: var(--link-color);
                    transition-duration: 400ms;
        
                    img {
                        width: 12%;
                        justify-self: left;
                    }
        
                    p {
                        text-align: center;
                        display: table-cell;
                    }
                }
        
                .lecture-link:hover {
                    background-color: var(--darker-background-color);
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    body {
        font-size: 80%;
    }

    .lectures-block {
        .lecture-card {
            .lecture-card-head {
                // Making image position default
                display: block;

                .lecture-card-preview {
                    // Here, we set the image in the middle of the div
                    position: static; 
    
                    img {
                        position: static;
                        // Making image in the center
                        display:block;
                        margin-left:auto;
                        margin-right:auto;
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 70%;
    }
}